.public-header{
    background-color: #fff;
    height: 60px;
    border: 1px solid #d0d0d0;
}
.public-header .header-logo{
    float: left;
    margin-top: 10px;
    margin-left: 50px;
    width: 40px;
    height: 40px;
    background: url("img/logo.png");
}
.public-header .header-nav .item{
    float: right;
    margin-top: 20px;
    margin-right: 22px;
    font-size: 15px;
    font-weight: lighter;
}
.public-header .header-nav .item a{
    color: #000000;
}
.public-header .header-nav .item a:hover{
    text-decoration: underline;
}