htm body{
    height: 100%;
}
body,ul,li,p{
    margin: 0;

}
ul{
    padding: 0;
    list-style: none;
}
#rightClick{
    height: 1000px;
    background-color: #d0d0d0;
}
#menu{
    position: absolute;
    width: 150px;
    background: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 10px 0;
    z-index: 9999;
    display: none;
}
#menu li{
    padding: 20px 40px;
    font-size: 20px;
    cursor: default;
}
#menu li:hover{
    background: #d0d0d0;
    opacity: 0.6;
}